= form_for @link, remote: true do |f|       
  .input-group.input-group-lg
    %span.input-group-btn
      = f.submit 'Create', class: "btn btn-primary"
    = f.text_field :real_link, class: "form-control"
    